/ADOLib/obj
/EFLibrary/Migrations
/EFLibrary/obj/Debug/net8.0
/EFLibrary/obj
/LibLibrary/obj/Debug/net8.0
/LibLibrary/obj
/.vs/Projeto/v17
/.vs/Projeto/CopilotIndices/17.12.31.40377
/.vs/Projeto/DesignTimeBuild
/.vs/Projeto/FileContentIndex
/.vs/Projeto Final
/.vs
/WebAPI/.vs/WebAPI/CopilotIndices/17.12.31.40377
/WebAPI/.vs/WebAPI/FileContentIndex
/WebAPI/.vs/WebAPI/v17
/WebAPI/bin/Debug/net8.0
/WebAPI/obj/Debug/net8.0
/WebAPI/obj
/WebAPI/WebAPI/obj/Debug/net8.0
/WebAPI/WebAPI/obj
/WebAPI/WebAPI/Properties
WebAPI/WebAPI/WeatherForecast.cs
/WebAPI/Properties
WebAPI/appsettings.Development.json
WebAPI/appsettings.json
WebAPI/WebAPI.sln
/WebAPI/.vs/WebAPI/DesignTimeBuild
