/ADOLib/obj
/ADOLib/bin
/EFLibrary/Migrations
/EFLibrary/obj/Debug/net8.0
/EFLibrary/obj
/EFLibrary/bin
/LibLibrary/obj/Debug/net8.0
/LibLibrary/obj
/LibLibrary/bin
/LibLibrary.Tests/obj
/LibLibrary.Tests/bin
/.vs/Projeto/v17
/.vs/Projeto/CopilotIndices/17.12.31.40377
/.vs/Projeto/DesignTimeBuild
/.vs/Projeto/FileContentIndex
/.vs/Projeto Final
/.vs
/WebAPI/.vs/WebAPI/CopilotIndices/17.12.31.40377
/WebAPI/.vs/WebAPI/FileContentIndex
/WebAPI/.vs/WebAPI/v17
/WebAPI/bin/Debug/net8.0
/WebAPI/obj/Debug/net8.0
/WebAPI/obj
/WebAPI/WebAPI/obj/Debug/net8.0
/WebAPI/WebAPI/obj
/WebAPI/WebAPI/Properties
WebAPI/WebAPI/WeatherForecast.cs
/WebAPI/Properties
WebAPI/appsettings.Development.json
WebAPI/appsettings.json
WebAPI/WebAPI.sln
/WebAPI/.vs/WebAPI/DesignTimeBuild
/ADOLib
/src/Projeto/ADOLib/bin/Debug/net8.0
/src/Projeto/ADOLib/obj
/src/Projeto/EFLibrary/bin/Debug/net8.0
/src/Projeto/EFLibrary/obj/Debug/net8.0
/src/Projeto/EFLibrary/obj
/src/Projeto/LibLibrary.Tests/obj/Debug/net8.0
/src/Projeto/LibLibrary.Tests/obj/Release/net8.0
/src/Projeto/LibLibrary/bin/Debug/net8.0
/src/Projeto/LibLibrary/obj/Debug/net8.0
/src/Projeto/LibLibrary/obj
/src/WebAPI/WebAPI/obj/Debug/net8.0
/src/WebAPI/WebAPI/obj/Release/net8.0
src/Projeto/.vs/Projeto/CopilotIndices
src/Projeto/.vs/Projeto/DesignTimeBuild
src/Projeto/.vs/Projeto/FileContentIndex
src/Projeto/.vs/Projeto/v17
src/WebAPI/.vs/WebAPI/CopilotIndices
src/WebAPI/WebAPI/.vs/WebAPI/CopilotIndices
src/WebAPI/.vs/WebAPI/FileContentIndex
src/WebAPI/.vs/WebAPI/v17
src/WebAPI/.vs
src/WebAPI/WebAPI/bin
src/WebAPI/WebAPI/.vs/WebAPI/DesignTimeBuild
src/WebAPI/WebAPI/.vs/WebAPI/FileContentIndex
src/WebAPI/WebAPI/.vs/WebAPI/v17
