@page
@model AdminMPA.Pages.Admin.IndexModel
@{
}

<nav>
    <ul>
        <li><a asp-page="/Admin/ManageUsers">Manage Users</a></li>
        <li><a asp-page="/Admin/CreateUser">Create Users</a></li>
        <li><a asp-page="/Admin/ManageBooks">Manage Books</a></li>
        <li><a asp-page="/Admin/ManageLibraries">Manage Library</a></li>
        <li><a asp-page="/Admin/Statistics">Statistics</a></li>
    </ul>
</nav>
