@page
@model ManageUsersModel
@{
    ViewData["Title"] = "Manage Users";
}

<h1>@ViewData["Title"]</h1>
<p>Content for managing users goes here.</p>
<a href="CreateUser/Index">Create Users</a>
<form method="post" asp-page-handler="DeleteInactiveUsers">
<p>Delete every inactive user <button type="submit" class="btn btn-primary">Delete</button></p>
    </form>
