@page
@model AdminMPA.Pages.Admin.ManageLibrariesModel
@{
    ViewData["Title"] = "Manage Libraries";
}

<div class="container-fluid d-flex flex-column align-items-center mb-5">
    <h1>@ViewData["Title"]</h1>
</div>
<br />