@page
@model AdminMPA.Pages.Admin.ManageBooksModel
@{
    ViewData["Title"] = "Manage Books";
}
<h1>@ViewData["Title"]</h1>
<p>Content for managing books goes here.</p>
@if(Model.books != null){
    <ul>
        @foreach(var book in Model.books){
            <li>@book.Title - @book.Edition - @book.Year <button>Manage</button></li>
        }
    </ul>
}
