@page
@model ManageUsersModel
@{
    ViewData["Title"] = "Manage Users";
}

<h1>@ViewData["Title"]</h1>
<p>Content for managing users goes here.</p>
<a asp-page="CreateUsers">Create Users</a>
<p>Delete every inactive user <button>Delete</button></p>
<p> </p>
